@model ProductListViewModel
@{ 
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>Product List</h2>
<table class="table table-striped">
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.QuantityPerUnit</td>
            <td>@product.UnitsInStock</td>
            <td>@product.UnitPrice</td>
        </tr>
    }
</table>